annotated-types
anyio
click
fastapi
h11
idna
pydantic
pydantic_core
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
celery
redis
langchain
wikipedia
langchain-community
langchain-openai
langchain-anthropic
python-dotenv